Code/JSON/03.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Call_tokens_API_to_get_bearer_token": {
                "inputs": {
                    "authentication": {
                        "password": "@{body('Get_Secret')?['value']}",
                        "type": "Basic",
                        "username": "@{body('Get_ID')?['value']}"
                    },
                    "body": {
                        "application": 2,
                        "description": "pam_admin_api_key",
                        "scope": "write"
                    },
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "https://controller/api/v2/tokens/"
                },
                "runAfter": {
                    "Get_Secret": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs",
                            "outputs"
                        ]
                    }
                },
                "type": "Http"
            },
            "Get_ID": {
                "inputs": {
                    "parameters": {
                        "secretName": ""
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "keyVault",
                        "operationId": "getSecret",
                        "serviceProviderId": "/serviceProviders/keyVault"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "outputs"
                        ]
                    }
                },
                "type": "ServiceProvider"
            },
            "Get_Secret": {
                "inputs": {
                    "parameters": {
                        "secretName": ""
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "keyVault",
                        "operationId": "getSecret",
                        "serviceProviderId": "/serviceProviders/keyVault"
                    }
                },
                "runAfter": {
                    "Get_ID": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "outputs"
                        ]
                    }
                },
                "type": "ServiceProvider"
            },
            "Launch_job_template_via_Ansible_API": {
                "inputs": {
                    "body": {
                        "extra_vars": {
                            "target": "@{triggerBody()?['api_target']}"
                        }
                    },
                    "headers": {
                        "Authorization": "Bearer @{body('Parse_JSON')?['token']}",
                        "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "https://controller/api/v2/job_templates/95/launch/"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs"
                        ]
                    }
                },
                "trackedProperties": {},
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Call_tokens_API_to_get_bearer_token')",
                    "schema": {
                        "properties": {
                            "application": {
                                "type": "integer"
                            },
                            "created": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "expires": {
                                "type": "string"
                            },
                            "id": {
                                "type": "integer"
                            },
                            "modified": {
                                "type": "string"
                            },
                            "refresh_token": {
                                "type": "string"
                            },
                            "related": {
                                "properties": {
                                    "activity_stream": {
                                        "type": "string"
                                    },
                                    "application": {
                                        "type": "string"
                                    },
                                    "user": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "scope": {
                                "type": "string"
                            },
                            "summary_fields": {
                                "properties": {
                                    "application": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "user": {
                                        "properties": {
                                            "first_name": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "integer"
                                            },
                                            "last_name": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "token": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string"
                            },
                            "user": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Call_tokens_API_to_get_bearer_token": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs"
                        ]
                    }
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "api_target": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "operationOptions": "EnableSchemaValidation",
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "outputs"
                        ]
                    }
                },
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}